body{
    color:grey;
    /*background-image: linear-gradient(violet, white, red);*/
    background-image: url("https://th.bing.com/th/id/OIP.wzKoSfuLw24t-ihDlcA_VAHaHa?rs=1&pid=ImgDetMain");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: right bottom;
}   

p, ul{
    color:blueviolet;
    background-color: red;
    font-size: 20px;  /* Comentários no css*/ 
    text-align: center;
}
/*.Titulo{ 
    font-size:
    }
#seletor { 
}*/
