* {
    margin: 0 auto;
    padding:0;
}

.menu-horizontal{
    background-color: rgba(210, 12, 114, 0.61);
}

.menu-horizontal ul{
    max-width: 800px;
}

.menu-horizontal ul li{
    display: inline; /*em linha*/
}

.menu-horizontal ul li a{
    color:#FFF; /*texto*/
    padding: 20px;
    display: inline-block;
    text-decoration: none; /*retira padrão do hiperlink*/
}